<!--The content below is only a placeholder and can be replaced.-->
<h1 style="background-color: lightblue" align="center">Quiz App</h1>
<div style="text-align:center">
  <h1>
    Quiz Application
  </h1>
  <img width="200" src="../home-page/index.jpg">
</div>
<h2 align="left">Quiz Instructions</h2>
</div>
<h3 align ="center">Please click on the below links to view the table details</h3>
<nav align="center">
  <a routerLink="/home" routerLinkActive="active">Start Quiz</a>
<div>
  <router-outlet></router-outlet>
</div>

