<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color:darkcyan">
    <h1 style="background-color:rgb(107, 235, 235)" style="text-align:center" >
     Quiz App</h1>
    </div>
    <img align="left" style="width:50px" src="./accenture.png">
    <img align="left" style="width: 700px ; height:500px;" src="./quiz.png">
  
  <br><br><br><br>
  <div style="border:2px solid cadetblue; height:400px ; padding:2em">
  <h2 align="left">Quiz Information</h2>
  <p padding="right" align="left">
      1) Click on the start button to take the test <br>
      2) Choose appropriate correct radio button for correct answer out of the 4 options <br> 
      3) Test will be of 30 mins with 10 questions <br><br><br>
  </div>
  <button id="startQuiz" ng-click="start()">Start Test</button>

  <router-outlet></router-outlet>
  